<div class="row text-center font-weight-bold" style="font-size:1.5rem">
	<div class="card col">
		<div class="card-title">KASA</div>
		<div class="card-body">
			<div> Kredi : {{toFixed profit}}</div>
			<div>
				Bonus : {{toFixed bonus_profit}}
			</div>
		</div>
	</div>
	<div class="card col text-success">
		<div class="card-title">GİRİŞ</div>
		<div class="card-body ">
			<div>Kredi: {{toFixed income}}</div>
			<div>Bonus: {{toFixed bonus_income}}</div>
			
		</div>
	</div>
	<div class="card col text-danger">
		<div class="card-title ">ÇIKIŞ</div>
		<div class="card-body">
			<div>Kredi: {{toFixed expense}}</div>
			<div>Bonus: {{toFixed bonus_expense}}</div>
		</div>
	</div>
	<div class="card col">
		<div class="card-title ">HESAP SIFIRLA</div>
		<div class="card-body">
			<div id="sifirlabtn" class="btn btn-danger">SIFIRLA</div>
			<div>Son Sıfırlama Tarihi: {{timefmt data.data.last_reset_time}}</div>
		</div>
	</div>
</div>
<table class="table table-stripped display" id="accounting-table">
	<thead>
		<th>Kullanıcı</th>
		<th>Meblağ</th>
		<th>Yeni Kredi</th>
		<th>Oyun</th>
		<th>Tarih</th>
		<th>bonus</th>
	</thead>
	<tbody>
		{{#with data}}
			{{#if success}}
				{{#each data.all}}
					{{#with_ctx @root.uname}}
						<tr class="font-weight-bold" style="font-size:1.0rem">
							<td>{{uid}}</td>
							<td class="{{cls}}">{{toFixed ctx.amount}}</td>
							<td>{{toFixed credit}}</td>
							<td>{{ctx.game_name}}</td>
							<td>{{timefmt ctx.time}}</td>
							<td><input type="checkbox" disabled="disabled" {{#if ctx.is_bonus}} checked="checked"{{/if}}> </td>
						</tr>
					{{/with_ctx}}
				{{/each}}
			{{else}}
				Bu aya ait muhasebe bulunamadı.
			{{/if}}
		{{/with}}
	</tbody>
</table>
