<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Düzenle: {{name}}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <input type="text" class="form-control" placeholder="{{#if name}} {{name}}{{else}}Kart İsmi{{/if}}" style='margin-bottom:10px'>
      <input type="number" class="form-control" placeholder="{{#if price}} {{price}}{{else}}Kart Fiyatı{{/if}}" style='margin-bottom:10px'>
      <input type="number" class="form-control" placeholder="{{#if c1}} {{c1}}{{else}}Birinci Çinko{{/if}}" style='margin-bottom:10px'>
      <input type="number" class="form-control" placeholder="{{#if c2}} {{c2}}{{else}}İkinci Çinko{{/if}}" style='margin-bottom:10px'>
      <input type="number" class="form-control" placeholder="{{#if t}} {{t}}{{else}}Tombala{{/if}}" style='margin-bottom:10px'>
      <input type="number" class="form-control" placeholder="{{#if tulum}} {{tulum}}{{else}}Tulum{{/if}}" style='margin-bottom:10px'>
      <input type="number" class="form-control" placeholder="{{#if first_5}} {{first_5}}{{else}}İlk 5{{/if}}" style='margin-bottom:10px'>
      <input type="number" class="form-control" placeholder="{{#if firat_10}} {{first_10}}{{else}}İlk 10{{/if}}" style='margin-bottom:10px'>
      <input type="number" class="form-control" placeholder="{{#if min_cards}} {{min_cards}}{{else}}Min Kart{{/if}}" style='margin-bottom:10px'>
      <button id='saveTableGroupData' type="button" class="btn btn-primary" data-dismiss="modal">Kaydet</button>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
  </div>
</div>