<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Para Transferi: {{uid}}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {{#each data}}
  <div class="modal-body">
    <div>
      <span>kredi: {{balance}}</span>
      <span>bonus kredi: {{bonus_balance}}</span>
      <span>oyun adı: {{game_name}}</span>
    </div>
    <form id='form_{{game_id}}'>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">TL</span>
        </div>
        <input type="number" class="form-control">
      </div>
      <div>
        <input type="checkbox" /><label>Bonus Kredi</label>
      </div>
      <button id='pushMoney' type="submit" onclick='ctx.updtCredit("{{@root.uid}}",{{game_id}},false)'
        class="btn btn-primary" data-dismiss="modal">Gönder</button>
      <button id='pullMoney' type="button" onclick='ctx.updtCredit("{{@root.uid}}",{{game_id}},true)'
        class="btn btn-light" data-dismiss="modal">Çek</button>
    </form>
  </div>
  {{/each}}
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
  </div>
</div>