{{#each tableGroups}}
<div class="card">
  <div class="card-header" id="heading_{{id}}">
    <h2 class="mb-0">
      <button class="btn btn-link but-con" type="button" data-toggle="collapse" data-target="#collapse_{{id}}"
        aria-expanded="true" aria-controls="collapse_{{id}}">
        <div class='tableGroups'>
          <div class='tg-name'>
            <p>{{name}}</p>
          </div>
          <div class='tg-group_type'>
            <p>{{translate group_type}}</p>
          </div>
          <div class='tg-bonus'><input type="checkbox" {{#if is_bonus}} checked {{/if}} disabled></div>
          <div class="font-weight-bold buttons">
            <div onclick="ctx.onTableAddClickHandler('{{id}}')" class="btn btn-success p-1">
              <span style="font-size:1.3rem" class="cil-plus btn-icon p-1"></span>
            </div>
            <div onclick="ctx.onTableGroupEditClickHandler('{{id}}')" class="btn btn-info p-1">
              <span style="font-size:1.3rem" class="cil-pencil btn-icon p-1"></span>
            </div>
            <div onclick="ctx.onTableGroupDeleteClickHandler('{{id}}')" class="btn btn-danger p-1">
              <span style="font-size:1.3rem" class="cil-ban btn-icon p-1"></span>
            </div>
          </div>
        </div>
      </button>
    </h2>
  </div>

  <div id="collapse_{{id}}" class="collapse" aria-labelledby="heading_{{id}}"
    data-parent="#accordion-table-groups-and-tables">
    {{#each tables}}
    <div class="card-body">
      <div class='table'>
        <div class='table-name'>{{name}}</div>
        <div class='table-price'>Fiyat: {{price}}</div>
        <div class='table-c1'>C1: {{c1}}</div>
        <div class='table-c2'>C2: {{c2}}</div>
        <div class='table-t'>Tombala: {{t}}</div>
        <div class='table-tulum'>Tulum: {{tulum}}</div>
        <div class='table-tulum'>İlk 5: {{first_5}}</div>
        <div class='table-tulum'>İlk 10: {{first_10}}</div>
        <div class='table-tulum'>Min Kart: {{min_cards}}</div>
        <div class="font-weight-bold">
          <div onclick="ctx.onTableEditClickHandler('{{group_id}}','{{id}}')" class="btn btn-light p-1">
            <span style="font-size:1.3rem" class="cil-pencil btn-icon p-1"></span>
          </div>
          <div onclick="ctx.onTableDeleteClickHandler('{{group_id}}','{{id}}')" class="btn btn-light p-1">
            <span style="font-size:1.3rem" class="cil-ban btn-icon p-1"></span>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
{{/each}}
<div class='card p-4'>
<b>NOT:</b>
Masa grubu açarken lütfen hangi oyuna oda grubu açtığınızı kontrol ediniz.</br>
Açtığınız oda grubuna masa oluşturmak için + işaretine basın ve gerekli bilgileri doldurdukdan sonra kaydet tıklayarak oluşturabilirsiniz.</br></br>

<b>150 KART SİSTEM</b>
Bu masa grubunda açtığınız tüm masaları 150 kart üzerinden satışa sunar.</br>
Örneğin 5 TL 10 TL 20 TL masaları oluşturdunuz 1 numaralı kart 1 kullanıcı 5 TL masada satın alır ise müşteri sadece 5 TL masadan kart almaya devam eder ve diğer tüm masalarda kart satıldı olarak görünür.</br>
Yani siz 150 kart üzerinden açacağınız masa fiyatlarına göre kart satıyor olacaksınız.</br></br>

<b>ÇOKLU ODA SİSTEM</b>
Bu masa grubunda örneğin 5 TL 10 TL 20 TL masa açtınız müşteri 1 numaralı kartı aynı anda 5 TL - 10 TL - 20 TL masadan satın alabilir.</br>
1 Numaralı kart 5 TL masadan satın alınır ise diğer sadece 5 TL masada satıldı olarak görülür diğer 10 TL ve 20 TL masalarda tekrar satın alınabilir.</br>
Bu masa grubundaki mantık açacağınız her masa 150 kart üzerinden çalışır yani siz 5 TL 10 TL 20 TL açarsanız toplamda 450 kart satışa sunmuş olacaksınız.</br></br>

<b>TEK KART TEK FİYAT SİSTEM</b>
Bu masa grubunda örneğin 5 TL 10 TL 20 TL masalar açtınız, 5 TL masadan 1 numaralı kart alındığı taktirde müşteri sadece 5 TL masadan oyun oynamaya devam eder, diğer 10 TL ve 20 TL müşteri ekranında tamamen kapalı hale gelir ve başka fiyatta kart alamaz.</br>
Örneğin müşteriniz 5 TL masadan 1 numaralı kartı satın aldı ve 10 TL 20 TL fiyatlar ekranında otomatikmen kapanır ve diğer müşteriniz 1 numaralı kartı 10 TL veya 20 TL masadan satın alabilir.</br>
Bu masa grubundaki mantık açacağınız her masa 150 kart üzerinden çalışır yani siz 5 TL 10 TL 20 TL açarsanız toplamda 450 kart satışa sunmuş olacaksınız.</br></br>

<b>APİ SİSTEM</b>
Bu masa grubundaki mantık şudur kart sayısı hiç bir zaman yoktur örneğin siz 5 TL 10 TL 20 TL masaları açtınız ve 5 TL veya 10 TL veya 20 TL masadan 1 numaralı kartı 1000 kişi satın alabilir.</br>
Bu masa grubundaki sistem tamamen online sistemler için tasarlanmıştır eğerki bu tarz oyun oynatmak istiyorsanız sizde aktif edebilirsiniz.</br>
NOT: Bu sistemi kullanmak isterseniz şöyle düşünün 1 numaralı kartı 100 kişi satın aldı ve o seans 1 numaralı karta tulum çıktı 100 kişiye tulum ikramiyesi ödenir.</br>
Bu sistemi aktif etmeden önce risk analizi ediniz.</br>
</div>