{{#each tableGroups}}
<div class="card">
  <div class="card-header" id="heading_{{id}}">
    <h2 class="mb-0">
      <button class="btn btn-link but-con" type="button" data-toggle="collapse" data-target="#collapse_{{id}}"
        aria-expanded="true" aria-controls="collapse_{{id}}">
        <div class='tableGroups'>
          <div>{{name}}</div>
          <div>{{#if date_str}}{{date_str}} {{else}} {{created_at}}{{/if}}</div>
          <div>{{group_type}}</div>
          <div><input type="checkbox" {{#if is_bonus}} checked {{/if}} disabled></div>
          <div class="font-weight-bold">
            <div onclick="ctx.onTableAddClickHandler('{{id}}')" class="btn btn-success p-1">
              <span style="font-size:1.3rem" class="cil-plus btn-icon p-1"></span>
            </div>
            <div onclick="ctx.onTableGroupEditClickHandler('{{id}}')" class="btn btn-info p-1">
              <span style="font-size:1.3rem" class="cil-pencil btn-icon p-1"></span>
            </div>
            <div onclick="ctx.onTableGroupDeleteClickHandler('{{id}}')" class="btn btn-danger p-1">
              <span style="font-size:1.3rem" class="cil-ban btn-icon p-1"></span>
            </div>
          </div>
        </div>
      </button>
    </h2>
  </div>

  <div id="collapse_{{id}}" class="collapse" aria-labelledby="heading_{{id}}"
    data-parent="#accordion-table-groups-and-tables">
    {{#each tables}}
    <div class="card-body">
      <div class='table'>
        <div>{{name}}</div>
        <div>{{#if date_str}}{{date_str}} {{else}} {{created_at}}{{/if}}</div>
        <div>Fiyat:{{price}}</div>
        <div>C1:{{c1}}</div>
        <div>C2:{{c2}}</div>
        <div>Tombala:{{t}}</div>
        <div>Tulum:{{tulum}}</div>
        <div class="font-weight-bold">
          <div onclick="ctx.onTableEditClickHandler('{{group_id}}','{{id}}')" class="btn btn-light p-1">
            <span style="font-size:1.3rem" class="cil-pencil btn-icon p-1"></span>
          </div>
          <div onclick="ctx.onTableDeleteClickHandler('{{group_id}}','{{id}}')" class="btn btn-light p-1">
            <span style="font-size:1.3rem" class="cil-ban btn-icon p-1"></span>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
{{/each}}